@page "/competition-detail/{CompetitionId:int}"

<Condition Evaluation="Competition is not null">
    <Match>
        <div class="row">
            <div class="col-8">
                <h3>@Competition.Name</h3>
            </div>
            <div class="col-4 text-end">
                <Condition Evaluation='Competition.CreatedByUserId == WeighDownUser.Id || User.IsInRole("Admin")'>
                    <Match>
                        <Condition Evaluation="DateTime.Today.Date < Competition.StartDate.ToLocalTime().Date || User.IsInRole("Admin")">
                            <Match>
                                <button type="button" class="btn btn-sm btn-info" @onclick='() => Navigation.NavigateTo($"/edit-competition/{Competition.CompetitionId}")'>
                                    Edit
                                </button>
                                <br />
                            </Match>
                        </Condition>

                        <button type="button" class="btn btn-sm btn-danger" @onclick="HandleDelete">
                            Delete
                        </button>
                    </Match>
                </Condition>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <span class="card-text"><span class="text-muted">Starts</span><br />@Competition.StartDate.ToLocalTime().ToShortDateString()</span>
                            </div>
                            <div class="col-4 text-center">
                                <span class="card-text"><span class="text-muted">Entry Fee</span><br />@Competition.PlayInAmount.ToString("C")</span>
                            </div>
                            <div class="col-4 text-end">
                                <span class="card-text"><span class="text-muted">Ends</span><br />@Competition.EndDate.ToLocalTime().ToShortDateString()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <Condition Evaluation="Competition.Contestants.Any()">
                                    <Match>
                                        <details>
                                            <summary class="card-text">
                                                <span class="text-muted">Contestants</span>
                                            </summary>
                                            <ul>
                                                <Iterations Items="Competition.Contestants.OrderBy(c => c.FirstName)">
                                                    <li class="card-text"><small>@context.GetFullName()</small></li>
                                                </Iterations>
                                            </ul>
                                        </details>
                                    </Match>
                                    <NotMatch>
                                        <span class="card-text">No Conestants yet.</span>
                                    </NotMatch>
                                </Condition>
                            </div>
                        </div>

                        <Condition Evaluation="Competition.StartDate.ToLocalTime().Date <= DateTime.Today.Date">
                            <Match>
                                <hr />

                                <div class="row">
                                    <div class="col-12 text-center">
                                        <p>Prize Money</p>
                                    </div>
                                    <div class="col-4 text-center">
                                        <span class="card-text"><span class="text-muted">First</span><br />@Competition.FirstPlacePrizeAmount.ToString("C")</span>
                                    </div>
                                    <div class="col-4 text-center">
                                        <span class="card-text"><span class="text-muted">Second</span><br />@Competition.SecondPlacePrizeAmount.ToString("C")</span>
                                    </div>
                                    <div class="col-4 text-center">
                                        <span class="card-text"><span class="text-muted">Third</span><br />@Competition.ThirdPlacePrizeAmount.ToString("C")</span>
                                    </div>
                                </div>
                            </Match>
                        </Condition>

                        <Condition Evaluation="CanUserJoin">
                            <Match>
                                <hr />
                                <Condition Evaluation="DisableJoin">
                                    <Match>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button type="button" class="btn btn-info" disabled>
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    Joining...
                                                </button>
                                            </div>
                                        </div>
                                    </Match>

                                    <NotMatch>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button type="button" class="btn btn-info" @onclick="HandleContestantJoin">Join</button>
                                            </div>
                                        </div>
                                    </NotMatch>
                                </Condition>
                            </Match>
                        </Condition>
                    </div>
                </div>
            </div>
        </div>

        <Condition Evaluation="NextWeighInDeadline is not null">
            <Match>
                <div class="row">
                    <div class="col-12">
                        <h3>Deadlines</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <Condition Evaluation="NextWeighInDeadline.DeadlineDate.ToLocalTime().Date == DateTime.Today.ToLocalTime().Date">
                                    <Match>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <span class="card-text">Next deadline is today</span>
                                                <br />
                                                <Condition Evaluation="UserContestant is not null">
                                                    <Match>
                                                        <Condition Evaluation="HasUserWeighedIn">
                                                            <Match>
                                                                <span class="card-text">You already weighed in</span>
                                                            </Match>

                                                            <NotMatch>
                                                                <span class="card-text">You must weigh in by midnight to stay in the competition.</span>
                                                                <br />
                                                                <button type="button" class="btn btn-info" @onclick='() => Navigation.NavigateTo($"/new-weight-log/{Competition.CompetitionId}")'>
                                                                    Weigh In
                                                                </button>
                                                            </NotMatch>
                                                        </Condition>
                                                    </Match>
                                                </Condition>
                                            </div>
                                        </div>

                                        <Condition Evaluation="UserContestant is not null && Competition.Contestants.Any(c => c.ContestantId != UserContestant.ContestantId)">
                                            <Match>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <span class="card-text">Remaining Contestants to Weigh In</span>
                                                        <br />
                                                        <ul>
                                                            <Iterations Items="Competition.Contestants.Where(c => !c.WeightLogs.Any(w => w.MeasurementDate.ToLocalTime().Date == DateTime.Today.Date)).OrderBy(c => c.FirstName)">
                                                                <li class="card-text"><small>@context.GetFullName()</small></li>
                                                            </Iterations>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </Match>
                                        </Condition>
                                    </Match>

                                    <NotMatch>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <span class="card-text">Next deadline is @NextWeighInDeadline.DeadlineDate.ToLocalTime().ToString("D")</span>
                                            </div>
                                        </div>
                                    </NotMatch>
                                </Condition>

                                <Condition Evaluation="RemainingWeighInDeadlines.Any()">
                                    <Match>
                                        <hr />

                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <details>
                                                    <summary class="card-text">
                                                        Remaining Deadlines
                                                    </summary>
                                                    <ul>
                                                        <Iterations Items="RemainingWeighInDeadlines.OrderBy(w => w.DeadlineDate)">
                                                            <li class="card-text"><small>@context.DeadlineDate.ToLocalTime().ToString("D")</small></li>
                                                        </Iterations>
                                                    </ul>
                                                </details>
                                            </div>
                                        </div>
                                    </Match>
                                </Condition>
                            </div>
                        </div>
                    </div>
                </div>
            </Match>
        </Condition>

        <CompetitionResultsView Competition="Competition" UserContestant="UserContestant" />
    </Match>

    <NotMatch>
        <div class="row">
            <div class="col-12 text-center">
                <LoadingSpinner MarginTop="50" />
            </div>
        </div>
    </NotMatch>
</Condition>