<Condition Evaluation="CompetitionResults is not null">
    <Match>
        <div class="row">
            <div class="col-12">
                <h3>Results</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <h6 class="card-text text-muted">Your Weight Lost</h6>
                        <hr />
                        <span class="card-text">@UserContestant.PercentageLost.ToString("P3")</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <h6 class="card-text text-muted">Avg Weight Lost</h6>
                        <hr />
                        <span class="card-text">@Competition.AvgPctLost.ToString("P3")</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <h6 class="card-text text-muted">Total Weight Lost</h6>
                        <hr />
                        <span class="card-text">@Competition.TotalPctLost.ToString("P3")</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <Condition Evaluation="CompetitionResults.Any()">
                <Match>
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <Condition Evaluation="IsCompetitionComplete">
                                    <Match>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h3 class="card-text">Competition Finale</h3>
                                            </div>
                                        </div>

                                        <hr />
                                        
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-text text-muted">Total Group Weight Lost</h5>
                                                <h6 class="card-text text-success"><strong>@Competition.TotalWeightLost</strong></h6>
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-text text-muted">Competition Winner</h5>
                                                <h5 class="card-text">@FinalResults.Where(x => x.IsDeadlineWinner).FirstOrDefault().Contestant.GetFullName()</h5>
                                                <h5 class="card-text text-success"><strong>@FinalResults.Where(x => x.IsDeadlineWinner).FirstOrDefault().PercentChange.ToString("P3")</strong></h5>
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6 class="card-text text-muted">2nd Place</h6>

                                                <Iterations Items="FinalResults.Where(v => !v.IsDeadlineWinner).OrderByDescending(v => v.PercentChange).ThenBy(v => v.Contestant.FirstName).Take(1)">
                                                    <h6 class="card-text">@context.Contestant.GetFullName()</h6>
                                                    <h6 class="card-text text-success"><strong>@context.PercentChange.ToString("P3")</strong></h6>
                                                </Iterations>
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6 class="card-text text-muted">3rd Place</h6>

                                                <Iterations Items="FinalResults.Where(v => !v.IsDeadlineWinner).OrderByDescending(v => v.PercentChange).ThenBy(v => v.Contestant.FirstName).Skip(1).OrderByDescending(v => v.PercentChange).ThenBy(v => v.Contestant.FirstName).Take(1)">
                                                    <h6 class="card-text">@context.Contestant.GetFullName()</h6>
                                                    <h6 class="card-text text-success"><strong>@context.PercentChange.ToString("P3")</strong></h6>
                                                </Iterations>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6 class="card-text text-muted">Everyone Else</h6>

                                                <Iterations Items="FinalResults.Where(v => !v.IsDeadlineWinner).OrderByDescending(v => v.PercentChange).ThenBy(v => v.Contestant.FirstName).Skip(2)">
                                                    <div class="row">
                                                        <div class="col-8 text-start">
                                                            <span class="result-row-text card-text">@context.Contestant.GetFullName()</span>
                                                        </div>
                                                        <div class="col-4 text-end">
                                                            <span class="result-row-text card-text @(context.PercentChange > 0 ? "text-primary" : context.PercentChange == 0 ? "text-warning" : "text-danger")">@context.PercentChange.ToString("P3")</span>
                                                        </div>
                                                    </div>
                                                </Iterations>
                                            </div>
                                        </div>
                                        <br />
                                    </Match>
                                </Condition>

                                <MostRecentResultSetView MostRecentResultSet="MostRecentResultSet" />
                            </div>
                        </div>
                    </div>

                    <Condition Evaluation="CompetitionResults.Any(c => c.Key.WeighInDeadlineId != MostRecentResultSet.Key.WeighInDeadlineId)">
                        <Match>
                            <Iterations Items="CompetitionResults.Where(c => c.Key.WeighInDeadlineId != MostRecentResultSet.Key.WeighInDeadlineId).OrderByDescending(c => c.Key.DeadlineDate)">
                                <div class="col-12">
                                    <PastResultCard Results="context" />
                                </div>
                            </Iterations>
                        </Match>
                    </Condition>
                </Match>

                <NotMatch>
                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="card-text">No results yet</span>
                        </div>
                    </div>
                </NotMatch>
            </Condition>
        </div>
    </Match>
</Condition>